body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(geto.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    overflow: hidden;
    width: 50%;
}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 2rem;
}

p {
    color: rgb(0, 238, 255);
    font-size: 1.5rem;
}

button {
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5555FF;
}